{% include "header.html" %}
{% include "menu.html" %}
{% include "goodies.html" %}
{% include "ads.html" %}

<div class="post">
<h2 class="title">about this site</h2>
<p><strong>77.fi</strong> is a domain that had the sole purpose of giving me the
shortest e-mail address possible.
 Then I realized that I can create an url-shortening service that is <b>guaranteed to beat tinyurl by at least 6 characters!</b>
</p><p>
In case you need a short e-mail address (and are born in 1977, perhaps) send me an e-mail and I'll set you up with a forwarding to gmail or wherenot.</p>
</div>

{% include "footer.html" %}
