
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="verify-v1" content="CL230ickNtlWkluxt1icCt+C9PBnyY5ra+GL0c0HAiY=" />
<title>77.fi</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
{# <link href="http://static.77.fi/default.css" rel="stylesheet"      type="text/css" /> #}
<script type="text/javascript">
function SelectAll(id)
{
    document.getElementById(id).focus();
        document.getElementById(id).select();
        copiedtxt=document.getElementById(id).createTextRange();
        copiedtxt.execCommand("Copy");
        }
        </script>
</head>
<body>
<div id="header">
<h1>77.fi</h1>
<h2>the short domain name</h2>
</div>
<!-- end #header -->
