{% extends 'base.html' %}
{% block beef %}
    <div class="row">
        <div class="row">
            <div class="span12">
                <form method="post" action="#">
                    {% csrf_token %}
                    <fieldset>
                        <label for="url">The long URL</label>

                        <div class="input-append">

                            <input class="input-xlarge input-primary"
                                   type="text"
                                   id="url"
                                   name="url"/>
                            <button class="btn btn-primary" type="submit"
                                    >shorten
                            </button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock %}