{% extends 'base.html' %}
{% block beef %}
    <div class="row">
        <div class="row">
            <div class="span12">
                <form method="post" action="">
                    {% csrf_token %}
                    <fieldset>
                        <label for="url">Shorten your URL</label>
                        <input class="input-xlarge input-primary" type="text"
                        id="url"
                        name="url"
                               size="100%"/>
                        <button class="btn btn-primary" type="submit"
                                >shorten</button>
                    </fieldset>
                </form>
                <script type="text/javascript">
                    document.getElementById("url").focus();
                </script>
            </div>
        </div>
    </div>
{% endblock %}